
**/BUILD/
**/BUILDROOT/
**/CMakeFiles/
**/FedPkg/
**/RPMS/
**/SOURCES/
**/SPECS/
**/SRPMS/
**/Testing/
**/_CPack_Packages/
*.bak
*.gmo
*.la
*.lo
*.loT
*.o
*.old
*.orig
*.pot
*.rej
*.rpm
*.so
*.sw[op]
*NO_PACK*
*~
.*
CMakeCache.txt
CPack*Config.cmake
CTestTestfile.cmake
CVS/
Makefile
Modules
RPM-ChangeLog
arch/PKGBUILD
bin/
bodhi.template
cmake-fedora/
cmake_*install.cmake
data/*.schemas
data/*.xml
data/ibus-setup-chewing.desktop
debug*s.list
gtk-doc.make
ibus-chewing*.tar.*
ibus-chewing.spec
install_manifest.txt
ltmain.sh
missing
po/locale/
py-compile
stamp-h1
tags
test-bin/
