.*
*~
*.sw[op]
**/CMakeFiles/
**/_CPack_Packages/
**/Testing/
**/BUILD/
**/BUILDROOT/
**/RPMS/
**/SPECS/
**/SOURCES/
**/SRPMS/
**/FedPkg/
*NO_PACK*
bin/
*.la
*.lo
*.loT
bodhi.template
CMakeCache.txt
cmake-fedora/
cmake_*install.cmake
CPack*Config.cmake
CTestTestfile.cmake
CVS/
data/*.schemas
debug*s.list
*.gmo
gtk-doc.make
ibus-chewing.spec
ibus-chewing*.tar.*
install_manifest.txt
ltmain.sh
Makefile
missing
Modules
*.o
*.old
*.orig
*.pot
py-compile
*.so
RPM-ChangeLog
src/ibus-chewing-engine*.[ch]
src/maker-dialog*.[ch]
stamp-h1
*.rej
*.rpm
*.bak
tags
data/*.xml
arch/PKGBUILD

