.*
*~
ABOUT-NLS
bodhi.template
bin/
**/BUILD/
**/BUILDROOT/
ChangeLog
CMakeCache.txt
cmake-fedora/
**/CMakeFiles/
cmake_*install.cmake
CPack*Config.cmake
**/_CPack_Packages/
CVS/
data/*.schemas
debug*s.list
**/FedPkg/
*.gmo
gtk-doc.make
ibus-chewing.spec
ibus-chewing*.tar.*
install_manifest.txt
*.la
libtool
*.lo
*.loT
ltmain.sh
Makefile
missing
Modules
*NO_PACK*
*.o
*.old
*.orig
*.pot
py-compile
**/RPMS/
*.so
**/SOURCES/
RPM-ChangeLog
src/ibus-chewing-engine*.[ch]
src/maker-dialog*.[ch]
**/SRPMS/
stamp-h1
*.sw[op]
*.rej
*.rpm
*.bak
tags
*.xml
CTestTestfile.cmake

